body {
    margin: 0;
    font-family: 'Segoe UI';
    background-color: #dbdbdb;
    color: #080808;
    line-height: 1.6;
}

.navbar {
    background-color: #afafaf;
    padding: 10px 20px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.navbar ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar li{
    display: inline;
    margin: 0 15px;
}

.navbar a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.header {
    text-align: center;
    padding: 60px 20px;
    background-color: #a7a7a7;
    color: white;
    height: 600px;
}
img.photo{
    border:3px solid gray;
    border-radius: 50%;
    margin: 0 auto;
    height: 300px;
    width: 300px; 

}
.about,
.projects,
.contact {
    padding: 40px 20px;
    max-width: 800px;
    margin: auto;
}

.project-grid  {
    display: flex;
    flex-wrap: wrap;
    gap: 20px
}

.project-card {
    background-color: #fff;
    border: 1px solid #eee;
    padding: 20px;
    flex: 1 1 250px;
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
    transition: transform 0.2s;
}

.project-card:hover{
    transform: translateY(-5px);
}

.contact a{
    color: #0077cc;
    text-decoration: none;
}

.contact a:hover{
    text-decoration: underline;
}
.contact-form {
    max-width: 500px;
    margin: 50px auto;
    padding: 30px;
    background: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
    font-family: 'Arial', sans-serif;
}

.contact-form h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 12px 15px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    transition: 0.3s;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-color: #007BFF;
    outline: none;
    box-shadow: 0 0 5px rgba(0,123,255,0.3);
}


.contact-form textarea {
    height: 120px;
    resize: none;
}

.contact-form button {
    width: 100%;
    padding: 12px;
    background-color: #797979;
    border: none;
    border-radius: 6px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

.contact-form button:hover {
    background-color: #0056b3;
}
